{% extends 'base.html' %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
{% block title %}
{{ player1_full_name }} & {{ player2_full_name }} Visual
{% endblock %}

{% block content %}
<h1 class="text-center">Player Comparison</h1>

<div class="container mt-4">
  <div class="row">
    <!-- Player 1 Card -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <h2 class="card-title" style="color: #b4513e;">{{ player1_full_name }}</h2>
          <a href="{% url 'nba_stats:player_details' player_full_name=player1_full_name player_id=player1_id %}">
            <img src="{{ player1_headshot.0 }}" alt="{{ player1_full_name }} Headshot" class="rounded-circle img-fluid mt-3 w-50" style="background-color:{{ player1_headshot.1 }};">
          </a>
        </div>
        <!-- Career Awards for Player 1 -->
        <div class="card-footer text-center" id="player1-awards">
          <button class="btn btn-outline-success"
                  hx-get="{% url 'show_career_awards_player1' player1_name=player1_full_name player1_id=player1_id %}"
                  hx-target="#player1-awards"
                  hx-swap="outerHTML"
                  hx-trigger="click">
            Show Career Awards
          </button>
        </div>
      </div>
    </div>

    <!-- Player 2 Card -->
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <h2 class="card-title" style="color: #b4513e;">{{ player2_full_name }}</h2>
          <a href="{% url 'nba_stats:player_details' player_full_name=player2_full_name player_id=player2_id %}">
            <img src="{{ player2_headshot.0 }}" alt="{{ player2_full_name }} Headshot" class="rounded-circle img-fluid mt-3 w-50" style="background-color:{{ player2_headshot.1 }};">
          </a>
        </div>
        <!-- Career Awards for Player 2 -->
        <div class="card-footer text-center" id="player2-awards">
          <button class="btn btn-outline-success"
                  hx-get="{% url 'show_career_awards_player2' player2_name=player2_full_name player2_id=player2_id %}"
                  hx-target="#player2-awards"
                  hx-swap="outerHTML"
                  hx-trigger="click">
            Show Career Awards
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Graph Section -->
  <div class="text-center mt-4">
    <canvas id="ComparisonChart"></canvas>
  </div>

    <!-- Inline script with data -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const graphData = JSON.parse('{{ graph_data|safe|escapejs }}');
  const ctx = document.getElementById('ComparisonChart').getContext('2d');

  new Chart(ctx, {
    type: 'line',
    data: {
        labels: graphData.labels,
        datasets: graphData.datasets
    },
    options: {
        responsive: true,
        plugins: {
            title: {
                display: true,
                text: '{{ player1_full_name }} and {{ player2_full_name }} {{ stat }} Comparison'
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Seasons'
                }
            },
            y: {
                title: {
                    display: true,
                    text: '{{ stat }}'
                }
            }
        },
        animation: {
            duration: 1500,
            easing: 'linear'
        }
    }
});
</script>

  <!-- Back to Comparison Button -->
  <div class="text-center mt-4">
    <a href="{% url 'nba_stats:compare_profiles' player1_full_name=player1_full_name player1_id=player1_id player2_full_name=player2_full_name player2_id=player2_id %}" class="btn btn-primary">
      Back To {{ player1_full_name }} / {{ player2_full_name }} Comparison Page
    </a>
  </div>

{% endblock %}
