{% extends 'base.html' %}
{% load static %}
{% block title %}
About ShotGeek
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
            <h1>About ShotGeek</h1>
            <hr>
            <br>
            <p>
                Ever been in a debate about an NBA player, only to get frustrated when the other person starts making up stats to support their argument? Or perhaps you enjoy diving deep into a player's shot profile, tendencies, and career trends? If you answered "yes" to either of these questions, then you, my friend, are a ShotGeek—welcome! We're happy to have you here!
            </p>
            <p>
                ShotGeek is an NBA companion app designed for accessing various statistics and making player comparisons for both current and retired NBA players. 
            </p>
            <p>
                ShotGeek is also an open-source project built with Django! If you're a developer, technical writer, designer, or anyone interested in contributing to open-source projects, check out our GitHub repository. We're always open to welcoming new members.
            </p>
            <p>
                If you have any questions, feel free to email us at <b><i>info@shotgeek.com</i></b> or send us a message on <a href="https://github.com/ShotGeek" target="_blank">GitHub</a> or <a href="https://instagram.com/shotgeekhq" target="_blank">Instagram</a>!
            </p>
        </div>

        <!-- Image Section -->
        <div class="col-md-6">
            <img src="{% static 'images/about.png' %}" alt="About ShotGeek" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}


